<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <%@posts.each do |post|%>
      <h1><%=post.name%>
      <%=post.content%></h1>
    <%end%>
  </body>
</html>
